/* The main and secondary font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;

}

/* To remove the purple underlining and the color */
a {
    text-decoration: none;
    color: #143F6B;
}

a:visited {
    text-decoration: none;
    color: #143F6B;
}

/* The Global style */
body {
    font-family: 'Amaranth', sans-serif;
    background-color: whitesmoke;
    background-image: url('../images/\ mainimage.png');

}

/* Underline the page on the navigation area*/

.contact-active {
    border: 3px solid whitesmoke;
    padding: 3px;
}

.board-active {
    border: 3px solid whitesmoke;
    padding: 3px;
}

/* The header and the logo area*/
header {
    background-color: #143F6B;
    height: 100px;
    width: 100%;
}

h1,
h2 {
    font-family: 'Amaranth', sans-serif;
    color: #FEB139;
}

#logo {
    float: left;
    margin-left: 75px;
    font-size: 400%;
    height: 150px;

}

#logo a {
    text-decoration: none;
    color: inherit;
    letter-spacing: 5px;

}

#logo a:hover {
    color: #F55353;
}

/* The navigation area for other page*/
.navigation {
    font-size: 110%;
    letter-spacing: 3px;
    margin-right: 20px;

}

.navigation a {
    text-decoration: none;
    color: #FEB139;
}


.navigation a:hover {
    color: #F55353;

}

.navigation li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
    color: rgba(250, 154, 9, 0.74);
    font-size: 30px;
}

#logo,
.navigation {
    line-height: 100px;
}

/* The footer and copyright */
footer {
    height: 160px;
    background-color: #143F6B;
    margin-top: 1000px;

}

.social-media {
    list-style-type: none;
    text-align: center;

}

.social-media i {
    margin: 10%;
    font-size: 300%;
    color: whitesmoke;
    padding: 2%;
    margin-top: 20px;
    letter-spacing: 75px;
}

.social-media>li {
    display: inline-block;

}

.copyright {
    margin: 2%;
    font-size: 20px;
    color: #FEB139;
    padding: 1%;
    margin-top: 10px;
    text-align: center;
}

.copyright i {
    color: whitesmoke;
}