/* The main and secondary font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;

}

/* To remove the purple underlining and the color */
a {
    text-decoration: none;
    color: #143F6B;
}

a:visited {
    text-decoration: none;
    color: #143F6B;
}

/* The Global style */
body {
    font-family: 'Amaranth', sans-serif;
    background-color: whitesmoke;
    background-image: url('../images/\ mainimage.png');

}

/* Underline the page on the navigation area*/

.contact-active {
    border: 3px solid whitesmoke;
    padding: 3px;
    border-radius: 10px;
}

.board-active {
    border: 3px solid whitesmoke;
    padding: 3px;
    border-radius: 10px;
}

/* The header and the logo area*/
header {
    background-color: #143F6B;
    height: 100px;
    width: 100%;
}

h1 {
    font-family: 'Amaranth', sans-serif;
    color: #FEB139;
}

#logo {
    float: left;
    margin-left: 75px;
    font-size: 400%;
    height: 150px;

}

#logo a {
    text-decoration: none;
    color: inherit;
    letter-spacing: 5px;

}

#logo a:hover {
    color: #F55353;
}

/* The navigation area for other page*/
.navigation {
    font-size: 110%;
    letter-spacing: 3px;
    margin-right: 20px;

}

.navigation a {
    text-decoration: none;
    color: #FEB139;
}


.navigation a:hover {
    color: #F55353;

}

.navigation li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
    font-size: 30px;
}

#logo,
.navigation {
    line-height: 100px;
}

/* The footer and copyright */
footer {
    height: 160px;
    background-color: #143F6B;
    margin-top: 400px;

}

.social-media {
    list-style-type: none;
    text-align: center;

}

.social-media i {
    margin: 10%;
    font-size: 300%;
    color: whitesmoke;
    padding: 2%;
    margin-top: 20px;
    letter-spacing: 75px;
}

.social-media>li {
    display: inline-block;

}

.copyright {
    margin: 2%;
    font-size: 20px;
    color: #FEB139;
    padding: 1%;
    margin-top: 5px;
    text-align: center;
}

.copyright i {
    color: whitesmoke;
}

/* The center box part of the home page */
.box {
    height: 1200px;
    width: 60%;
    border: 4px solid #143F6B;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #143F6B;
    padding: 20px;
    letter-spacing: 2px;
    text-align: center;
    border-radius: 10px;

}

.box-text {
    color: whitesmoke;
    font-size: 30px;
    padding: 20px;
    text-align: center;
}

.fun-text {
    color: #FEB139;
    padding-bottom: 10px;
}



/* The introduction video on the home/main page */
.video-box {
    height: 540px;
    width: 80%;
    margin: 0 auto;
    border: 5px solid whitesmoke;
    border-radius: 15px;
}

.video-box:hover {
    border: 7px solid #FEB139;
}

.intro-video {
    height: 500px;
    width: 95%;
    margin-top: 20px;
    margin-top: 20px;
    border-radius: 15px;
}

/* The start button on the main/home page */
.main-start {
    margin-top: 40px;
    font-size: 30px;
    background-color: #143F6B;
    color: whitesmoke;
    padding: 8px;
    border: 2px solid #FEB139;
    border-radius: 10px;
}

.main-start:hover {
    background-color: whitesmoke;
    color: #143F6B;
}

/* The leaderboard page */
.leaderboard-main {
    margin: 0 auto;
    margin-top: 100px;
    width: 50%;
    height: 300px;
    background-color: whitesmoke;
    border: 3px solid #143F6B;
}

.leaderboard-box {
    height: 90px;
    width: 50%;
    border: 4px solid #143F6B;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #143F6B;
    letter-spacing: 2px;
    text-align: center;
    border-radius: 10px;
    color: whitesmoke;
    padding: 5px;
    font-size: 20px;
}

.leaderboard-heading {
    color: #FEB139;
}

/* The contact form box and sign up */

/* The contact box and heading*/
.contact-main {
    margin: 0 auto;
    margin-top: 100px;
    width: 50%;
    height: 300px;
    background-color: whitesmoke;
    border: 3px solid #143F6B;
}

.contact-box {
    height: 140px;
    width: 50%;
    border: 4px solid #143F6B;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #143F6B;
    letter-spacing: 2px;
    text-align: center;
    border-radius: 10px;
    color: whitesmoke;
    padding: 5px;
    font-size: 20px;
}

.contact-heading {
    color: #FEB139;
    margin-bottom: 10px;
}

.contact-heading-text {
    margin-bottom: 10px;
}

/* The contact form*/